*_ReSharper.*/*
docs/_build
*/*/Debug/*
*/*/Release/*
*/*/Test/*
*/*/bin/*

*.suo
*.user

*.mci
*.o
*.a
*.deps
*.json
*.lst
*.log
*.def

*.orig

libmci.core
libmci.assembler
libmci.interpreter
libmci.jit
libmci.vm
mci.cli
mci.tester
