[submodule "libffi-d"]
	path = libffi-d
	url = git://github.com/lycus/libffi-d.git
[submodule "libgc-d"]
	path = libgc-d
	url = git://github.com/lycus/libgc-d.git
[submodule "bootdoc"]
	path = bootdoc
	url = git://github.com/lycus/bootdoc.git
